#clockcontainer {
    position: relative;
    margin: auto;
    background-color: red;
    height: 40vw;
    width: 40vw;
    background: url(/images/clock.png) no-repeat;
    background-size: 100%;
    border: 2px solid red;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 5px;
    transform-origin: bottom;
}
#hour {
    height: 26%;
    width: 1.4%;
    top: 24%;
    left: 49.4%;
    opacity: 0.8;
    
    
}
#minute {
    height: 31%;
    width: 1.2%;
    top: 19%;
    left: 49.4%;
    opacity: 0.8;   
     
}
#second {
    height: 35%;
    width: 1%;
    top: 15%;
    left: 49.4%;
    opacity: 0.8;
    
}